nav{
  width: calc(100% - 3rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: brown;
}

.nav-group{
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

a{
  height: 100%;
}